.main-container {
      width: 80vw;
      height: 70vh;
      display: flex;
      flex-direction: row;
      align-items: center;
}

@media (max-width: 1000px) {

      .main-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 0px;
      }
}